*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --body-bg : #212428;
    --body-bg-rgb : 33, 36, 40;
    --primary-color : #ff014f;
    --primary-color-rgb : 255, 1, 79;
    --heading-text : #c4cfde;
    --heading-text-rgb : 196, 207, 222;
    --normal-text : #878e99;
    --normal-text-rgb : 135, 142, 153;
    --main-box-shadow : 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    --heading-font-family : 'Montserrat',sans-serif;
    --normal-font-family : 'Poppins',sans-serif;
    --fw : 600;
    --fs : 16px;
    --white : #fff;
    --white-rgb : 255, 255, 255;
}
body{
    background-color: var(--body-bg);
    font-size: var(--fs);
    font-weight: var(--fw);
    font-family: var(--heading-font-family);
    color: var(--heading-text);
}
ul,ol{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.btn-1{
    display: block;
    color: var(--primary-color);
    box-shadow: var(--main-box-shadow);
    border-radius: 6px;
    padding: 15px 35px;
    margin: 15px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--normal-font-family);
}

/* Header Start */
header{
    padding: 14px 45px;
    background-color: transparent;
}
.header-left .logo a{

}
.header-left .logo a span{
    color: var(--heading-text);
    font-size: 18px;
    opacity: 0.8;
    text-transform: uppercase;
}
.navbar{
    background: var(--body-bg);
    justify-content: flex-end;
    text-transform: uppercase;
}
.header-right .navbar ul li a{
    color: var(--heading-text);
    font-size: 13px;
    font-weight: 400;
}


/* Body Start */
.card-1{
    padding: 30px;
    box-shadow: var(--main-box-shadow);
    border-radius: 10px;
    background: var(--body-bg);
}
/* Home */
.self .user{
    height: 60px;
    width: 60px;
    background-color: rgb(255, 1, 79, 0.2);
    border-radius: 50%;
}
.self .user span{
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
.user-name{
    margin-bottom: 30px;
}
.user-name h1{
    font-size: 52px;
    color: var(--white);
    font-weight: bold;
}
.user-name h2{
    font-size: 20px;
    font-weight: 700;
}
.dynamic-texts{
    color: var(--primary-color);
    font-weight: 800;
    font-size: 42px;
    height: 52px;
    overflow: hidden;
}
.dynamic-texts li:first-child{
    position: relative;
    animation: first-slide 5s steps(1000) infinite;
}
@keyframes first-slide{
    0%{
        top: 0;
    }
    100%{
        top: -125px;
    }
}
.dynamic-texts li:last-child{
    position: relative;
    animation: second-slide 5s steps(1000) infinite;
}
@keyframes second-slide{
    0%{
        top: 0;
    }
    100%{
        top: -125px;
    }
}
.user-details ul li a i{
    font-size: 24px;
    text-align: start;
    color: var(--primary-color);
    padding-right: 20px;
}
.user-details ul li a span{
    color: var(--heading-text);
    font-size: 16px;
    font-weight: 500;
}
.inner-card{
    padding: 25px 20px 15px 20px;
}
.curriculum p{
    color: var(--heading-text);
    font-family: var(--normal-text);
    padding-left: 15px;
}